$_mainFont: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

// header
$_buttonColor: #FF4343;
$_titleColor: #000000;
$_topsideHeader: 100px;
$_navFontSize: 13px;

// features
$_featureH3FontSize: 24px;