.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 3;
    @media (max-width: 520px){
        top: 25%;
    }
}

.slider .slick-arrow.slick-prev {
    left: 0;
    font-size: 0;
    background-image: url(../img/prev_arrow.png);
    width: 52px;
    height: 52px;
    padding: 5px;
}

.slider .slick-arrow.slick-next {
    right: 0;
    font-size: 0;
    background-image: url(../img/next_arrow.png);
    width: 52px;
    height: 52px;
    padding: 5px;
}

.slick-list {
    overflow: hidden;
}

.slider-wrap-content {
    display: flex;
    @media (max-width:520px){
        flex-direction: column;
    }
}
.slider__item-image {
    flex: 1;
    width: 40%;
    @media (max-width: 520px){
        flex: 1;
        width: 100%;
    }
}

.slider__item-image img{
    max-width: 100%;
    object-fit: fill;
    @media (max-width: 520px){
        width: 100%;
    }
}

.slider__item-content {
    flex: 2;
    max-width: 60%;
    background-color: #5C3249;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 520px){
        flex: 2;
        max-width: 100%;
        padding: 20px 0 50px 0;
    }
}

.slider__item-content:nth-child(odd) {
    background-color: #353C65;
}

.slider-content-descr {
    max-width: 471px;
    margin: auto;
    align-items: center;
    p{
        font-family: 'Corda';
        font-size: 36px;
        font-style: italic;
        font-weight: 400;
        color: #ffffff;
        padding-bottom: 10px;

        @media (max-width: 1024px) {
            font-size: 24px;
        }
        @media (max-width: 520px){
            text-align: center;
        }
    }
    span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff;

        @media (max-width: 1024px) {
            font-size: 12px;
        }
        @media (max-width: 520px){
            display: block;
            text-align: center;
        }
    }
    @media (max-width: 1024px) {
        max-width: 330px;
    }
}